<%= form_with(model: strain, local: true) do |form| %>
  <% if strain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

      <ul>
      <% strain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :strain_name %>
    <%= form.text_field :strain_name, id: :strain_strain_name %>
  </div>

  <div class="field">
    <%= form.label :strain_description %>
    <%= form.text_area :strain_description, id: :strain_strain_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
