<p id="notice"><%= notice %></p>

<p>
  <strong>Strain name:</strong>
  <%= @strain.strain_name %>
</p>

<p>
  <strong>Strain description:</strong>
  <%= @strain.strain_description %>
</p>

<%= link_to 'Edit', edit_strain_path(@strain) %> |
<%= link_to 'Back', strains_path %>
